@charset "UTF-8";

/* ===== style.cssの上書き ===== */
.container {
    max-width: 100%;
}
img {
    max-width: 100%;
}

/* ===== 機能の実装に必要なCSS ===== */

/* ドロワーナビゲーションの必須スタイル */
#nav {
    position: fixed;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
}

/* ドロワーが開かれたときのスタイル */
.show {
    transform: translate3d(-270px, 0, 0);
}

/* 開く・閉じるアニメーション */
#wrapper, #nav {
    transition: transform 0.3s;
}

/* ===== ヘッダーにボタンを配置 ===== */
.header {
    padding: 16px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.title-block {
    flex: 1 1 auto;
}
.hamburger {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #fff;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#nav li a:hover {
    background: #0e3e4d;
}
#nav .logo {
    margin-bottom: 20px;
}

/* メインコンテンツ */
main .container {
    padding: 0;
}
.key {
    width: 100%;
}
.content {
    padding: 0 30px;
    text-align: center;
}
.archive {
    margin: 40px 0 0;
    padding: 0 30px;
}
.archive-box {
    margin: 0 auto;
    width: 320px;
}
@media(min-width: 768px) {
    .archive-box {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
.archive h3 {
    border-top: 1px dashed #809BA6;
    border-bottom: 1px dashed #809BA6;
    padding: 0.5rem 0;
    text-align: center;
}
.archive figure {
    margin: 0 0 2em 0;
    padding: 0;
    max-width: 320px;
}
.archive figcaption {
    text-align: center;
}
.thumb {
    max-width: 320px;
}

main .container {
    margin: 0 auto;
    max-width: 800px;
}
#place {
    text-align: center;
}
#now {
    margin: 0 auto;
    border: 1px solid #ccc;
    max-width: 400px;
    min-height: 400px;
}
#now .icon img {
    width: 400px;
}
#now .info p {
    text-align: center;
}
#now .temp {
    margin-left: 1rem;
    padding-left: 24px;
    background: url(../images/thermometer.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
#forecast {
    border-collapse: collapse;
    margin: 2rem auto 0;
    width: 400px;
}
#forecast th, #forecast td {
    border-top: 1px solid #ccc;
    padding-left: 8px;
    padding-right: 8px;
}
#forecast tr td:first-of-type {
    border-left: 1px solid #ccc;
}
#forecast tr td:last-of-type {
    border-right: 1px solid #ccc;
    text-align: right;
}
#forecast tr:last-of-type {
    border-bottom: 1px solid #ccc;
}
#forecast .icon {
    width: 48px;
}
#forecast .icon img {
    width: 48px;
    height: 48px;
}
#forecast .info p {
    margin: 0;
}
#forecast .temp {
    margin-left: 1rem;
    padding-left: 24px;
    background: url(../images/thermometer.svg) 0 0 no-repeat;
    background-size: 24px 24px;   
}
#now {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}